# Node.js
node_modules/
dist/
build/
.next/
out/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp*
.pnp.js

# Expo
.expo/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.venv
env/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS
.DS_Store
Thumbs.db

# env
# ==============================
# SUPABASE (Database)
# ==============================
SUPABASE_URL=https://your-project-id.supabase.co
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key

# ==============================
# MPESA (Daraja - Sandbox)
# ==============================
MPESA_CONSUMER_KEY=nDHMAnXACeQ3S4Go0AYvfJCAQpvg1whhfiFVQAefvVk29se
MPESA_CONSUMER_SECRET=qmIBWKOIAzETI1GcTJfw0NVNUz874k2OGYfGGYDh8gXNQvquJbK9rmkxIHQRizS8
MPESA_SHORTCODE=174379
MPESA_PASSKEY=bfb279f9aa9bdbcf158e97dd71a467cd2e0c893059b10f78e6b72ada1ed2c919
MPESA_CALLBACK_URL=https://yourdomain.com/api/mpesa/callback